{% trans_default_domain 'toolbar' %}

{% spaceless %}
{# Display #}
{% if type != 'dashboard' and type != 'display' and type != 'help' and type != 'new' %}
    <a href="{{ path('events_display', {'slug': event.slug, 'id': event.id}) }}" class="btn btn-default" title="{{ 'label.current_version'|trans }}" role="button">
        <span class="glyphicon glyphicon-eye-open"></span></a>
{% endif %}
{% endspaceless %}