{% trans_default_domain 'giftVoucher' %}

<p>
    Esta herramienta se utiliza para enviar correos electrónicos. No se puede usar en vivo, por contra, podemos ver los correos electrónicos enviados a través de él. Debe identificarse y tener el rol apropiado para acceder al tablero.
</p>

<p class="text-center">
    <strong><a href="https://975l.com/es/pages/email-bundle">>> Email (Tutoriales, capturas de pantalla, etc.) <<</a></strong>
</p>