{% trans_default_domain 'email' %}

<p>
    Cet outil sert à envoyer des emails. Il ne peut pas être utilisé directement, par contre on peut visionner les emails envoyés par son intermédiaire. Il faut être identifié et avoir le rôle adéquat pour pouvoir accéder au tableau de bord.
</p>

<p class="text-center">
    <strong><a href="https://975l.com/fr/pages/email-bundle">>> Email (Tutoriels, copies d'écran, etc.) <<</a></strong>
</p>