{% trans_default_domain 'giftVoucher' %}

<p>
    This tool is used to send emails. It can not be used directly, but emails sent through it can be seen. You have to be identified and have the proper role to access the dashboard.
</p>

<p class="text-center">
    <strong><a href="https://975l.com/en/pages/email-bundle">>> Email (Tutorials, screenshots, etc.) <<</a></strong>
</p>